<div class="container">
  <h1>about bieu</h1>

  <p class="flow-text">BIEU provides 24/7 access to top beauty professionals, products, salons and spas through a community of people that capture, review and share their experiences of products and services provided. We aim to connect you with the best of the beauty industry.</p>
</div>
