<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 ">
      <div style="margin-top: 20px;">ALIBI NYC SALON</div>
      <br>
      <div>PHONE NUMBER</div>
      <div>(212) 219-2806</div>
      <br>
      <div>LOCATION</div>
      <div>67 Greene St.</div>
      <div>Ste. 2</div>
      <div>New York NY 10012</div>
      <br>
      <div>MENU</div>
      <div class="row">
        <div class="col s12 m4 l4">
          <!-- <img src="http://i.imgur.com/RXRqYEeb.jpg"> -->
        </div>
        <div class="col s12 m4 l4">
          <!-- <img src="http://i.imgur.com/KN6Dp36b.jpg"> -->
        </div>
      </div>
      <div>WEBSITE</div>
      <div>http://www.alibinycsalon.com/</div>
    </div>
    <div class="col s12 m6 l6 center-align">
      <div class="row">
        <div style="margin-top: 20px;">PHOTOS</div>
        <div class="row">
          <div class="col s12 m4 l4 offset-m2 offset-l2">
            <img src="https://i.imgur.com/1pSlRSIb.jpg">
          </div>
          <div class="col s12 m4 l4">
            <img src="https://i.imgur.com/Tt2uNHub.jpg">
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l4 offset-m2 offset-l2">
            <img src="https://i.imgur.com/PnOxj0Qb.jpg">
          </div>
          <div class="col s12 m4 l4">
            <img src="https://i.imgur.com/OftbK4bb.jpg">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div>REVIEWS</div>
        <div class="row center-align">
          <div class="col s12 m4 l4">
            <!-- <img src="http://i.imgur.com/tkh1qXEb.jpg"> -->
          </div>
          <div class="col s12 m12 l12 center-align">
            <img src="https://i.imgur.com/tkh1qXEb.jpg">
          </div>
          <div class="col s12 m4 l4">
            <!-- <img src="http://i.imgur.com/ipsh2eVb.jpg"> -->
          </div>
        </div>
        <div class="row">
          <a href="#" class="btn">SEE REVIEWS</a>
        </div>
      </div>
    </div>
  </div>
</div>
