<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 ">
      <div>BLUSHINGTON MAKEUP & BEAUTY LOUNGE</div>
      <div class="btn">4.5</div>
      <div>PHONE NUMBER</div>
      <div>(646) 410-2208</div>
      <br>
      <div>LOCATION</div>
      <div>Le Parker Meridien</div>
      <div>119 West 56th Street</div>
      <div>New York NY 10019</div>

      <div>MENU</div>
      <div class="row">
        <div class="col s12 m6 l6 center-align">
          <img src="http://i.imgur.com/ipsh2eVb.jpg">
          <img src="http://i.imgur.com/ipsh2eVb.jpg">
        </div>
      </div>
      <div>WEBSITE</div>
      <div>http://www.blushington.com/</div>
    </div>
    <div class="col s12 m6 l6 center-align">
      <div class="row">
        <div>PHOTOS</div>
        <div class="row">
          <div class="col s12 m6 l6 center-align">
            <img src="http://i.imgur.com/ipsh2eVb.jpg">
            <img src="http://i.imgur.com/ipsh2eVb.jpg">
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6 center-align">
            <img src="http://i.imgur.com/ipsh2eVb.jpg">
            <img src="http://i.imgur.com/ipsh2eVb.jpg">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div>REVIEWS</div>
        <div class="col s2 m2 l2 center-align">
          <img src="http://i.imgur.com/ipsh2eVb.jpg">
          <img src="http://i.imgur.com/ipsh2eVb.jpg">
          <img src="http://i.imgur.com/ipsh2eVb.jpg">
        </div>
        <a href="#" class="btn">SEE REVIEWS</a>
      </div>
    </div>
  </div>
  <a href="#" class="btn">Post a review</a>
</div>
