<%= stylesheet_link_tag    "static_pages.scss", media: "all", "data-turbolinks-track" => true %>

<img src="http://i.huffpost.com/gen/1566613/images/o-LIPSTICKS-facebook.jpg">

<div class="row">
    <div class="col s6"><img id="front_pic" class="materialboxed" width="100%" src="/images/B1.jpeg"></div>
    <div class="col s6"><img id="front_pic" class="materialboxed" width="100%" src="/images/A1.jpeg"></div>
</div>
