<%= stylesheet_link_tag    "static_pages.scss", media: "all", "data-turbolinks-track" => true %>
<div class="poster"><img style="min-width: 100%; height: auto;" <img src="http://i.imgur.com/JZaPBd8.jpg" title="source: imgur.com" /></div>
  <div class="container">
    <div style="margin-top: 20px;">EDITOR'S PICK</div>
    <div class="row">
      <div class="col s12 m6 l6 center-align">
        <a href="<%= static_pages_blushington_path %>">
          <img class="responsive-img z-depth-2" style="margin: 5px; max-height:300px; width: auto;" src="http://i.imgur.com/ipsh2eV.jpg">
        </a>
      </div>
      <div class="col s12 m6 l6 center-align">
        <a href="<%= static_pages_blushington_path %>">
          <img class="responsive-img z-depth-2" style="margin: 5px; max-height:300px; width: auto;" src="http://i.imgur.com/tf3LRXw.jpg">
        </a>
      </div>
    </div>
  </div>
