<%= stylesheet_link_tag    "static_pages.scss", media: "all", "data-turbolinks-track" => true %>


<!-- <img id="poster" class="responsive-img" src="http://i.huffpost.com/gen/1566613/images/o-LIPSTICKS-facebook.jpg"> -->
<!-- <img id="poster" class="responsive-img" src="http://graphics8.nytimes.com/images/2013/08/17/science/20welllipstick/20welllipstick-tmagArticle-v3.jpg"> -->
<img id="poster" class="responsive-img" src="">

  <div class="row">
      <div class="col s12 m7 l4">
        <img class="responsive-img materialboxed z-depth-2" style="margin: 5px; height:300px; width: auto;" src="http://i.imgur.com/ipsh2eV.jpg">
      </div>
      <div class="col s12 m7 l4">
        <img class="responsive-img materialboxed z-depth-2" style="margin: 5px; height:300px; width: auto;" src="http://i.imgur.com/tf3LRXw.jpg">
      </div>
      <div class="col s12 m7 l4">
        <img class="materialboxed z-depth-2" style="margin: 5px; height:300px; width: auto;" src="http://i.imgur.com/jUTnjIt.jpg">
      </div>
      <div class="col s5 l5">
        <img class="responsive-img materialboxed z-depth-2" style="margin-top: 10px; height:300px; width: auto;" src="http://i.imgur.com/lHA1F5e.jpg>
      </div>
  </div>


  <div class="row">

      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
  </div>

  <div class="row">

      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
      <div class="col s3 l3">
        <img class="responsive-img materialboxed z-depth-2" src="http://i.imgur.com/ipsh2eVb.jpg">
      </div>
  </div>



  </div>
