<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h1>Home page</h1>

<a href="<%= new_user_path %>">Sign up</a><br>
<a href="<%= new_session_path %>">Sign in</a><br>
<a href="<%= static_pages_aboutUs_path %>">Learn more about Bieu</a>
