<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 ">
      <div style="margin-top: 20px;">M.A.C.</div>
      <br>
      <div>PHONE NUMBER</div>
      <div>(212) 219-2806</div>
      <br>
      <div>LOCATION</div>
      <div>M·A·C PRO - NEW YORK CITY</div>
      <div>7 W. 22nd Street</div>
      <div>New York NY 10010</div>
      <br>
      <div>PRODUCTS</div>
      <div class="row">
        <div class="col s12 m4 l4">
          <img src="https://i.imgur.com/tXZLcVgs.jpg">
        </div>
        <p>Lady Danger</p>
        <p>$17</p>
        <p>Vivid bright coral-red (Matte)</p>
        <p>Formulated to shade, define and showcase the lips. Hundreds of hues, high-fashion textures. The iconic product that made M·A·C famous.</p>

        <div class="col s12 m4 l4">
          <img src="https://i.imgur.com/oKCBiXSs.jpg">
        </div>
        <p>Ruby Woo</p>
        <p>$17</p>
        <p>Very matte vivid blue-red (Retro Matte)</p>
        <p>Formulated to shade, define and showcase the lips. Hundreds of hues, high-fashion textures. The iconic product that made M·A·C famous.</p>

      </div>
      <div>WEBSITE</div>
      <div>http://www.alibinycsalon.com/</div>
    </div>
    <div class="col s12 m6 l6 center-align">
      <div class="row">
        <div style="margin-top: 20px;">PHOTOS</div>
        <div class="row">
          <div class="col s12 m4 l4 offset-m2 offset-l2">
            <img src="https://i.imgur.com/tXZLcVgb.jpg">
          </div>
          <div class="col s12 m4 l4">
            <img src="https://i.imgur.com/fGMZ19Yb.jpg">
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4 l4 offset-m2 offset-l2">
            <img src="https://i.imgur.com/0MYd7tOb.jpg">
          </div>
          <div class="col s12 m4 l4">
            <img src="https://i.imgur.com/oKCBiXSb.jpgg">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div>REVIEWS</div>
        <div class="row center-align">
          <div class="col s12 m4 l4">
            <!-- <img src="http://i.imgur.com/tkh1qXEb.jpg"> -->
          </div>
          <div class="col s12 m12 l12 center-align">
            <img src="https://i.imgur.com/tkh1qXEb.jpg">
          </div>
          <div class="col s12 m4 l4">
            <!-- <img src="http://i.imgur.com/ipsh2eVb.jpg"> -->
          </div>
        </div>
        <div class="row">
          <a href="#" class="btn">SEE REVIEWS</a>
        </div>
      </div>
    </div>
  </div>
</div>
