<div class="container">
    <h3>log in</h3>
    <form action="<%= sessions_path %>" method="post">
      <input  type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

            <input type="text" name="user[email]" placeholder="email">
            <input type="password" name="user[password]" placeholder="password">

            <a class="btn" type="submit">Submit</a>
      </form>
</div>
