<div id="fileUpload" class="file-field input-field row">
  <input class="file-path validate" type="text"/>
  <div id="fileUpload2" class="btn">
    <span>Upload a photo!</span>
    <input type="file" name="user[profile_photo]" id="profile_photo"/>
  </div>
</div>
