<h1>This is the user's show page!</h1>

<% user = @user %>

<p>Welcome, <%= @user.username %><p>

<h3>Profile Photo</h3>
<br>
<%= image_tag @user.profile_photo.url(:thumb) %>

<a href="<%= new_user_post_path(user.id) %>">Post some before and after photos</a>
