// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#poster {
  width: 100%;
  left: 0;
  right: 0;
}
